menuconfig COMPARATOR
    bool "Comparator drivers"

if COMPARATOR

config COMP_INIT_PRIORITY
	int "COMP init priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  COMP driver device initialization priority.

module = COMPARATOR
module-str = COMPARATOR
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.stm32"

endif
