config COMPARATOR_STM32
	bool "STM32 Comparator Driver"
	default y
	depends on DT_HAS_ST_STM32_COMPARATORS_ENABLED
	select USE_STM32_HAL_COMP
	help
	  Enable the driver implementation for the stm32 COMP

if COMPARATOR_STM32

endif
